.message-suggested {
	padding: 8px 16px;
	cursor: pointer;
	&:hover {
		background-color: #fafafa;
	}
	.profileIcon {
		margin-right: 12px;
		position: static;
		transform: none;
	}
	display: flex;
	justify-content: space-between;
	align-items: center;
	.select {
		padding: 8px;
	}
	.name-container {
		margin-right: auto;
	}
}
