.sidebar {
	position: fixed;
	top: 88px;
	margin-top: 16px;
	width: 293px;
	display: flex;
	flex-direction: column;
}
@media only screen and (max-width: 1000px) {
	.sidebar {
		display: none;
	}
}
