@import "../properties";

.home {
	background-color: $background-grey;
	height: 100%;
	width: 100%;

	.container {
		height: 100%;
		max-width: 935px;
		display: flex;
		justify-content: left;
		margin: 0 auto;
		position: relative;
	}
}

@media only screen and (max-width: 1000px) {
	.home .container {
		justify-content: center !important;
	}
}
