@import "../properties";

.loginPage {
	transform: translateY(-54px);
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: inherit;
}
.logContainer {
	width: 100%;
	max-width: 935px;
	margin: 0 auto;
	margin-top: 32px;
	padding-bottom: 32px;

	display: flex;
	justify-content: center;

	.previewContainer {
		align-self: center;
		background-image: url(/images/phoneBG.png);
		background-position: 0 0;
		background-size: 454px 618px;
		flex-basis: 454px;
		height: 618px;
		margin-left: -35px;
		margin-right: -15px;
	}
	.loginContainer {
		margin-top: 12px;
		flex: 1;
		flex-grow: 1;
		max-width: 350px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
.formContainer {
	background-color: #fff;
	border: 1px solid #dbdbdb;
	border-radius: 1px;
	margin: 0 0 10px;
	padding: 10px 0;

	.titleImg {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 12px auto 12px;
		img {
			width: 185px;
			height: auto;
		}
	}

	form {
		display: flex;
		flex-direction: column;
		padding-top: 20px;
		margin-bottom: 10px;
		&.fix {
			padding-top: 0px;
		}
	}
}
.loginBtn {
	margin: 8px 40px;
	padding: 5px 9px;
	background-color: #0095f6;
	color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	&:disabled {
		background-color: rgba(0, 149, 246, 0.3);
	}
	&:active {
		background-color: #9ed2f5;
		transition: background-color 0.2s ease-out;
	}
}
.loginError {
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	margin: 10px 40px;
	color: #ed4956;
}
.policy {
	color: #8e8e8e;
	font-size: 11px;
	line-height: 16px;
	margin: 10px 40px;
	text-align: center;
}

@media (max-width: 875px) {
	.previewContainer {
		display: none;
	}
}
