@import "../properties";

.loginPage {
	transform: translateY(-54px);
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: inherit;
}
.logContainer {
	width: 100%;
	max-width: 935px;
	margin: 0 auto;
	margin-top: 32px;
	padding-bottom: 32px;

	display: flex;
	justify-content: center;

	.previewContainer {
		align-self: center;
		background-image: url(/images/phoneBG.png);
		background-position: 0 0;
		background-size: 454px 618px;
		flex-basis: 454px;
		height: 618px;
		margin-left: -35px;
		margin-right: -15px;
	}
	.loginContainer {
		margin-top: 12px;
		flex: 1;
		flex-grow: 1;
		max-width: 350px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
.previewContainer {
	.images {
		margin: 99px 0 0 151px;
		position: relative;
		img {
			height: 427px;
			left: 0;
			// opacity: 0;
			position: absolute;
			top: 0;
			// visibility: hidden;
			width: 240px;
		}
	}
}
.formContainer {
	background-color: #fff;
	border: 1px solid #dbdbdb;
	border-radius: 1px;
	margin: 0 0 10px;
	padding: 10px 0;

	.titleImg {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 12px auto 12px;
		img {
			width: 185px;
			height: auto;
		}
	}

	form {
		display: flex;
		flex-direction: column;
		padding-top: 20px;
		margin-bottom: 10px;
	}
}
.loginBtn {
	margin: 8px 40px;
	padding: 5px 9px;
	background-color: #0095f6;
	color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	&:disabled {
		background-color: rgba(0, 149, 246, 0.3);
	}
}
.splitContainer {
	margin: 10px 40px 18px;
	display: flex;
	align-items: center;
	.line {
		background-color: #dbdbdb;
		height: 1px;
		flex-grow: 1;
		flex-shrink: 1;
		transform: translateY(-2px);
	}
	p {
		color: #8e8e8e;
		font-size: 12px;
		line-height: 15px;
		margin: 0 18px;
	}
}
.facebookBtn {
	margin: 8px 40px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	img {
		width: 1rem;
		height: 1rem;
		margin-right: 0.5rem;
	}
	span {
		color: #385185;
		font-size: 13px;
		line-height: 18px;
		font-weight: 600;
	}
}
.loginError {
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	margin: 10px 40px;
	color: #ed4956;
}
.forgot {
	color: #00376b;
	font-size: 12px;
	line-height: 14px;
	margin-top: 12px;
	text-align: center;
	cursor: pointer;
}
.registerContainer {
	background-color: #fff;
	border: 1px solid #dbdbdb;
	border-radius: 1px;
	padding: 10px 0;
	margin-bottom: 10px;
	P {
		color: #262626;
		font-size: 14px;
		margin: 15px;
		text-align: center;
		span {
			margin-left: 4px;
			cursor: pointer;
			font-weight: 600;
			color: #0095f6;
		}
	}
}
.switchBtn {
}
.appDownload {
	display: flex;
	flex-direction: column;
	p {
		font-size: 14px;
		line-height: 18px;
		margin: 10px 20px;
		text-align: center;
	}
	.downloads {
		display: flex;
		justify-content: center;
		margin: 10px auto;
		:first-child {
			img {
				margin-right: 8px;
			}
		}
	}
	img {
		height: 40px;
		cursor: pointer;
	}
}
@media (max-width: 875px) {
	.previewContainer {
		display: none;
	}
}
