@import "./properties";

.addComment {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.85em;
	padding: 0.5rem 0;
	margin-right: 1rem;
	.icon {
		width: 40px;
		height: 40px;
		padding: 0.5rem;
		padding-left: 0;
	}
	.commentText {
		flex: 1;
		color: $font-color-secondary;
	}

	.postText {
		color: $link-color-secondary;
	}
}
