@import "./properties";
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: $background-white;
	font-family: $font;
	font-size: 16px;
	margin: 0;
	padding: 0;
	min-width: fit-content;
}

main {
	background-color: $background-grey;
	margin-top: 54px;
	width: 100%;
}

a {
	text-decoration: none;
	color: $link-color;
	font-size: 0.9em;
	font-weight: 500;
}

// @media only screen and (max-width: 1024px) {
// 	main .container {
// 		justify-content: center !important;
// 	}
// }

.App {
	height: 100vh;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-float infinite 3s ease-in-out;
	}
}

.App-header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
}

.App-link {
	color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0px);
	}
}
