.feed {
	width: 614px;
	height: 100%;
	margin-right: 28px;
}

@media only screen and (max-width: 1024px) {
	.feed {
		width: 600px;
	}
}
@media only screen and (max-width: 640px) {
	.feed {
		width: 100vw;
	}
}
