.postMenu {
	display: flex;
	justify-content: space-between;
	margin-top: 0.75em;
	.interactions {
		display: flex;
	}

	.icon {
		margin-right: 1em;
		width: 24px;
		height: 24px;

		&:hover {
			cursor: pointer;
		}
	}
}
