@import "./properties";
.iconContainer {
	position: relative;
	min-width: 22px;
}
.storyBorder {
	padding: 2px;
	background: linear-gradient(
		200deg,
		$gradient-one 25%,
		$gradient-two 50%,
		$gradient-three 75%,
		$gradient-four 100%
	);
	border-radius: 50%;
	height: 62px;
	width: 62px;
	z-index: -1;
	&.seen {
		background: $border-color-grey;
	}
}
.profileIcon {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	border-radius: 50%;
	border: 2px solid $background-white;
	display: flex;

	&:hover {
		cursor: pointer;
	}

	&.small {
		border: none;
		width: 22px;
		height: 22px;
	}
	&.medium {
		width: 35px;
		height: 35px;
	}
	&.big {
		width: 58px;
		height: 58px;
	}
}

.profileActive {
	border: 1px solid #262626;
	border-radius: 50%;
	height: 28px;
	width: 28px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
