@import "./properties";
.iconContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	min-width: 22px;
}
.storyBorder {
	padding: 2px;
	background: linear-gradient(
		200deg,
		$gradient-one 25%,
		$gradient-two 50%,
		$gradient-three 75%,
		$gradient-four 100%
	);
	border-radius: 50%;
	height: 64px;
	width: 64px;
	// z-index: -1;

	&.seen {
		background: $border-color-grey;
	}
	&.small {
		height: 26px;
		width: 26px;
	}
	&.medium {
		height: 40px;
		width: 40px;
	}
}
.profileIcon {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	border-radius: 50%;
	border: 2px solid $background-white;
	display: flex;
	box-sizing: content-box;

	&:hover {
		cursor: pointer;
	}

	&.small {
		border: none;
		width: 22px;
		height: 22px;
	}
	&.medium {
		width: 32px;
		height: 32px;
	}
	&.big {
		width: 56px;
		height: 56px;
	}
	&.xBig {
		width: 77px;
		height: 77px;
	}
	&.xxBig {
		width: 150px;
		height: 150px;
	}
}

.profileActive {
	border: 1px solid #262626;
	border-radius: 50%;
	height: 28px;
	width: 28px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
