@import "./properties";

.profileComp {
	width: 100%;
	min-height: 60px;

	display: flex;
	align-items: center;
	font-size: 0.8em;
	// margin-bottom: 0.85em;
	.pIconContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 60px;
	}
	&.small {
		min-height: 50px;
		.pIconContainer {
			min-width: 50px;
		}
	}
	.textContainer {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-left: 1.2em;
		min-width: 170px;

		&.small {
			margin-left: 0.25em;
		}

		.accountName {
			font-weight: 600;
			margin-bottom: 5px;

			&:hover {
				cursor: pointer;
				text-decoration: underline;
			}
		}
		.caption {
			color: $font-color-secondary;
			text-align: left;
			&.small {
				font-size: 0.85em;
				letter-spacing: 0.1px;
			}
		}
	}
	a {
		width: 100%;
	}
}
