.sidebar {
	position: fixed;
	top: 88px;
	margin-top: 30px;
	// right: 5%;
	width: 293px;
	// padding: 0 2em 0 2em;
	display: flex;
	flex-direction: column;
}
@media only screen and (max-width: 1024px) {
	.sidebar {
		display: none;
	}
}
