.inputContainer {
	margin: 0 40px 6px;
	background-color: #fafafa;
	position: relative;
	display: flex;
	border-radius: 3px;
	border: 1px solid #dbdbdb;

	&.desc {
		margin-bottom: 16px;
	}
	label {
		width: 100%;
		height: 36px;
		display: flex;
		user-select: none;

		span {
			position: absolute;
			top: 0;
			left: 8px;
			z-index: 5;
			line-height: 36px;
			font-size: 12px;
			color: #8e8e8e;

			transition: transform ease-out 0.1s;
			&.typing {
				transform-origin: left;
				transform: scale(0.84) translateY(-10px);
				pointer-events: none;
			}
		}
		&.descLabel {
			height: auto;
		}
	}
	input {
		background-color: #fafafa;
		width: 100%;
		padding: 9px 8px 7px 8px;
		border: none;
		outline: 0;
		text-overflow: ellipsis;
		&.reg {
			padding-right: 34px;
			&.pass {
				padding-right: 76px;
			}
		}
		&:focus {
			outline: solid 1px #8e8e8e;
		}
		transition: all ease-out 0.1s;
		&.typing {
			padding-top: 14px;
			padding-bottom: 2px;
		}
	}
	textarea {
		resize: none;
		background-color: #fafafa;
		width: 100%;
		padding: 9px 8px 7px 8px;
		padding-top: 16px;

		border: none;
		outline: 0;
		text-overflow: ellipsis;
		font-size: 1rem;
		border-radius: 24px;

		// min-height: 36px;
		// max-
		height: 182px;
		overflow: none;
		&:focus {
			// outline: solid 1px #8e8e8e;
		}
		transition: all ease-out 0.1s;
		&.typing {
			padding-top: 14px;
			padding-bottom: 2px;
		}
	}
	.c {
		cursor: default;
		position: absolute;
		top: 7px;
		right: 0;
		z-index: 5;
		width: 22px;
		height: 22px;
		&.p {
			right: 42px;
		}
	}
	.showPass {
		position: absolute;
		top: 0;
		right: 8px;
		z-index: 5;
		height: 100%;
		display: none;
		align-items: center;
		font-size: 14px;
		font-weight: 600;
		color: #262626;
		cursor: pointer;
		&.typing {
			display: flex;
		}
	}
}
