@import "../properties";

.commentContainer {
	display: flex;
	font-size: 14px;
	margin-bottom: 0.4em;

	.accountName {
		font-weight: 700;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}

	.comment {
		margin-left: 0.25em;
	}
}
