@import "../properties";

.post {
	border: 1px solid $border-color-grey;
	background-color: $background-white;
	margin-bottom: 2rem;
	border-radius: 3px;

	.post-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.75em;

		.profileComp {
			margin-bottom: 0;
			min-height: 40px;
			.pIconContainer {
				min-width: 40px;
			}
			.textContainer {
				margin-left: 0.9425em;
			}
		}
		.moreBtn {
			height: 30px;
			width: 30px;
			cursor: pointer;
		}
	}

	.postImage {
		width: 100%;
		display: block;
	}
}
.postImage-container {
	position: relative;
}
.bigHeart-container {
	width: 100%;
	z-index: 12;
	position: absolute;
	top: 50%;
	transform: translateY(-64px);
	pointer-events: none;
	.bigHeart {
		background-image: url("../../images/spriteCore.png");
		background-repeat: no-repeat;
		background-position: 0 0;
		height: 128px;
		width: 128px;

		margin: 0 auto;
		opacity: 0;
		transform: scale(0);
		&.bigLiked {
			animation-name: like-heart-animation;
			animation-duration: 1000ms;
			animation-timing-function: ease-in-out;
		}
	}
}
.likedBy {
	display: flex;
	padding-left: 16px;
	span {
		font-size: 14px;
		margin-left: -1px;
		margin-right: 3px;
		margin-bottom: 8px;
		&.link {
			font-weight: 700;
			cursor: pointer;
			margin-left: 3px;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.profileComp {
		min-height: 30px;
		transform: translateY(-5px);
		.pIconContainer {
			min-width: 0;
		}
	}
}
.postDescription {
	display: flex;
	padding-left: 16px;
	span {
		font-size: 14px;
		font-weight: 700;
		font-family: inherit;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
		margin-right: 4px;
	}
	margin-bottom: 4px;
}
.viewComments {
	color: #8e8e8e;
	cursor: pointer;
	padding-left: 16px;
	&:hover {
		text-decoration: underline;
	}
}
.comments {
	padding-left: 16px;
}
.timeContainer {
	display: inline-block;
	padding-left: 16px;
}
.timePosted {
	font-size: 10px;
	line-height: 18px;
	letter-spacing: 0.2px;
	text-transform: uppercase;
	cursor: pointer;
	padding-bottom: 1em;
	color: $font-color-secondary;
}

@media only screen and (max-width: 640px) {
	.post {
		border: none;
		background-color: $background-grey;
		margin-bottom: 0.75em;
		.postDesc {
			.addComment {
				display: none;
			}
		}
	}
}

@keyframes like-heart-animation {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	15% {
		opacity: 0.9;
		transform: scale(1.2);
	}
	30% {
		transform: scale(0.95);
	}
	45%,
	80% {
		opacity: 0.9;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(0);
	}
}
