.postMenu {
	display: flex;
	justify-content: space-between;
	margin-top: 0.75em;
	.interactions {
		display: flex;
	}

	.icon {
		margin-right: 1em;
		width: 24px;
		height: 24px;

		&:hover {
			cursor: pointer;
		}

		&.liked {
			animation: like-button-animation 0.45s ease-in-out;
		}
	}
}
@keyframes like-button-animation {
	0%,
	to {
		transform: scale(1);
	}
	25% {
		transform: scale(1.2);
	}
	50% {
		transform: scale(0.95);
	}
}
