.postMenu {
	display: flex;
	justify-content: space-between;
	padding-left: 16px;
	padding-right: 8px;
	padding-top: 6px;
	padding-bottom: 8px;
	padding: 6px 8px 6px 16px;
	.interactions {
		display: flex;
		transform: translate(-8px, -2px);
	}
	.bmk {
		transform: translateY(-2px);
	}

	.icon {
		width: 40px;
		height: 40px;
		padding: 8px;
		cursor: pointer;

		&.liked {
			animation: like-button-animation 0.45s ease-in-out;
		}
	}
}
@keyframes like-button-animation {
	0%,
	to {
		transform: scale(1);
	}
	25% {
		transform: scale(1.2);
	}
	50% {
		transform: scale(0.95);
	}
}
