.postMenu {
	display: flex;
	justify-content: space-between;
	padding-top: 6px;
	padding-bottom: 8px;
	.interactions {
		display: flex;
	}

	.icon {
		width: 40px;
		height: 40px;
		padding: 8px;
		margin-left: -8px;
		margin-right: 8px;
		cursor: pointer;

		&.liked {
			animation: like-button-animation 0.45s ease-in-out;
		}
	}
}
@keyframes like-button-animation {
	0%,
	to {
		transform: scale(1);
	}
	25% {
		transform: scale(1.2);
	}
	50% {
		transform: scale(0.95);
	}
}
