.menu {
	margin-left: 24px;
	display: flex;

	.icon {
		width: 22px;
		height: 22px;
		&:hover {
			cursor: pointer;
		}
	}
	.link {
		display: flex;
		align-items: center;
		margin-left: 22px;

		&:first-child {
			margin-left: 0;
		}
	}
}
@media screen and (max-width: 425px) {
	.menu {
		margin-left: 0;

		.icon {
			width: 28px;
			height: 28px;
		}
		.link {
			margin-left: 26px;
		}
		.profileIcon {
			width: 26px !important;
			height: 26px !important;
		}
		.profileActive {
			width: 30px !important;
			height: 30px !important;
		}
	}
}
