@import "../properties";

.navigation {
	position: fixed;
	top: 0;
	z-index: 10;
	height: 54px;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: $background-white;
	border-bottom: 1px solid $border-color-grey;

	&.hidden {
		display: none;
	}

	.container {
		flex: 1;
		height: 54px;
		max-width: 975px;
		padding: 0 20px 0 20px;
		display: flex;
		align-items: center;
		justify-content: space-evenly;

		.logoContainer {
			height: 36px;
			flex: 1 9999 0%;
			display: flex;
			align-items: flex-end;
			justify-content: flex-start;
			&:active {
				opacity: 0.5;
			}
		}
		.menuContainer {
			flex: 1 9999 0%;
			display: flex;
			justify-content: flex-end;
		}
		.logo {
			width: 103px;

			&:hover {
				cursor: pointer;
			}
		}
	}
}

@media only screen and (max-width: 425px) {
	.navigation {
		.container {
			padding: 0 10px 0 10px;
			.logoContainer {
				display: none !important;
			}
			.menuContainer {
				margin: 0 auto;
				flex: none;
			}
		}
	}
}
