@import "../properties";

.navigation {
	position: fixed;
	top: 0;
	z-index: 10;
	height: 54px;
	width: 100%;
	display: flex;
	justify-content: center;
	background-color: $background-white;
	border-bottom: 1px solid $border-color-grey;

	&.hidden {
		display: none;
	}

	.container {
		flex: 1;
		height: 54px;
		max-width: 975px;
		padding: 0 20px 0 20px;
		display: flex;
		align-items: center;
		justify-content: space-evenly;

		.logoContainer {
			height: 36px;
			flex: 1 9999 0%;
			display: flex;
			align-items: flex-end;
			justify-content: flex-start;
		}
		.menuContainer {
			flex: 1 9999 0%;
			display: flex;
			justify-content: flex-end;
		}
		.logo {
			width: 103px;

			&:hover {
				cursor: pointer;
			}
		}

		.search {
			height: 28px;
			width: 30%;
			min-width: 125px;
			max-width: 215px;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.125em 0;
			border: 1px solid $border-color-grey;
			border-radius: 3px;
			background-color: $background-grey;

			.searchIcon {
				width: 10px;
				opacity: 0.4;
				margin-right: 0.3em;
			}
			.searchText {
				color: $font-color-secondary;
				font-size: 0.85em;
				font-weight: 300;
			}
		}
	}
}

@media only screen and (max-width: 500px) {
	.search {
		display: none !important;
	}
}
