.settingsMenu {
	display: flex;
	flex-direction: column;
	flex-basis: 236px;
	border-right: 1px solid #dbdbdb;

	li {
		p {
			height: 100%;
			width: 100%;
			padding: 16px 16px 16px 30px;
			border-left: 2px solid transparent;
			cursor: pointer;
			color: #262626;
			font-size: 16px;
			line-height: 20px;

			&:hover {
				background-color: #fafafa;
				border-left-color: #dbdbdb;
			}
			&:active {
				opacity: 0.7;
			}
			&.active {
				border-left-color: #262626;
				font-weight: 600;
			}
		}
	}
	.prof {
		padding: 16px;
		margin-left: 16px;
		margin-bottom: 16px;
		p {
			color: #0095f6;
			font-weight: 600;
			font-size: 16px;
			line-height: 24px;
			margin: -6px 0 -6px;
		}
	}
}

@media (max-width: 735px) {
	.settingsMenu {
		display: none;
	}
}
