.feed {
	width: 614px;
	height: 100%;
	margin-right: 28px;
}

@media only screen and (max-width: 1000px) {
	.feed {
		width: 600px;
		margin-right: 0;
	}
}
@media only screen and (max-width: 640px) {
	.feed {
		width: 97vw;
		margin: 0 auto;
	}
}
