@import "../properties";

.story {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 0.45em;
	margin-top: 2px;
	width: 80px;

	&:first-child {
		margin-left: 0.725em;
	}
	&:last-child {
		margin-right: 1em;
	}

	.accountName {
		font-size: 0.75em;
		margin: 0.2em auto;
		&.seen {
			color: $font-color-secondary;
		}
	}
}
