@import "../properties";

.stories {
	display: flex;
	align-content: center;
	background-color: $background-white;
	border: 1px solid $border-color-grey;
	border-radius: 3px;
	margin: 30px 0 24px 0;
	height: 118px;
	width: 100%;
	overflow: hidden;
	padding: 16px 0;
}
.scroll {
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	transition: all 0.1s ease;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
	display: none;
}

@media only screen and (max-width: 640px) {
	.stories {
		margin: 0 0 0.5em 0;
	}
}
