@import "../properties";

.story {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 0.45em;
	margin-top: 2px;
	width: 80px;
	cursor: pointer;
	position: relative;

	&:first-child {
		margin-left: 0.725em;
	}
	&:last-child {
		margin-right: 1em;
	}

	.accountName {
		font-size: 0.75em;
		margin: 0.2em auto;
		&.seen {
			color: $font-color-secondary;
		}
		&.sCard {
			margin: 0 auto;
			margin-top: 8px !important;
			font-size: 16px;
			line-height: 18px;
		}
	}

	.plus {
		position: absolute;
		right: 3px;
		bottom: 12px;
		z-index: 41;

		width: 18px;
		height: 18px;
		margin: 10px;
		padding-bottom: 4px;

		background-color: #0095f6;
		font-size: 18px;
		font-weight: 700;
		line-height: 18px;
		color: white;
		border-radius: 50%;
		border: 1px solid white;

		display: flex;
		align-items: center;
		justify-content: center;
	}
}
