.story-card {
	border-left: 46px solid transparent;
	border-right: 46px solid transparent;
	position: absolute;
	top: 50%;
	left: 0;
	transition: scale 2s 1s ease;
	&.small {
		transform: scale(0.4);
	}
	.story-content {
		width: 100%;
		height: 100%;
		background-color: yellow;
	}
	.sArrow {
		cursor: pointer;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		height: 30px;
		width: 30px;
		margin: 16px;
		margin-top: -12px;
		background-image: url("../../images/spriteCore.png");
		background-repeat: no-repeat;
		opacity: 0.2;
		transition: opacity 0.1s ease-in;
		&.left {
			background-position: -130px -98px;
			left: -58px;
		}
		&.right {
			background-position: -162px -98px;
			right: -58px;
		}
	}
	&:hover .sArrow {
		opacity: 1;
	}
}
