.story-card {
	border-left: 46px solid transparent;
	border-right: 46px solid transparent;
	position: absolute;
	top: 50%;
	left: 0;
	transition: scale 2s 1s ease;
	&.small {
		border-right-width: 23px;
		border-left-width: 23px;
	}

	.story-content {
		width: 100%;
		height: 100%;
		background-color: yellow;
		position: relative;
	}

	.sArrow {
		cursor: pointer;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		height: 30px;
		width: 30px;
		margin: 16px;
		margin-top: -12px;
		background-image: url("../../images/spriteCore.png");
		background-repeat: no-repeat;
		opacity: 0.2;
		transition: opacity 0.1s ease-in;
		&.left {
			background-position: -130px -98px;
			left: -50px;
		}
		&.right {
			background-position: -162px -98px;
			right: -50px;
		}
	}
	&:hover .sArrow {
		opacity: 1;
	}

	.clickOverlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		.cOver {
			position: absolute;
			height: 100%;
			width: 30%;

			&.left {
				left: 0;
			}
			&.right {
				right: 0;
			}
		}
	}
}
