.addPost-modal {
	width: unset !important;
	min-width: 400px;
	max-width: 936px;
	border-radius: 0 !important;
	flex-direction: row !important;
	background-color: transparent !important;
	.images-container {
		display: flex;
		position: relative;
		max-width: 400px;
		max-height: 400px;
		.react-swipeable-view-container {
			height: 100%;
			div {
				width: unset;
				overflow-y: hidden !important;
			}
		}
	}

	img {
		flex: 1;
		max-width: 400px;
		max-height: 400px;
		object-fit: cover;
		height: 100%;
		width: 100%;
		user-select: none;
		-webkit-user-drag: none;
		-khtml-user-drag: none;
		-moz-user-drag: none;
		-o-user-drag: none;
	}

	.modalBody {
		max-width: 400px;
		flex: 1;
		display: flex;
		flex-direction: column;
		background-color: #fff;
		border-radius: 12px;
		.modalTitle {
			margin: 8px 32px;
			margin-top: 32px;
			text-align: center;
			color: #262626;
			h3 {
				font-weight: 600;
			}
		}
		.choose {
			color: #0095f6;
			font-weight: 700;
		}
		.hide {
			display: none;
		}
		.modalBtns {
			margin-top: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			.photoBtns {
				padding: 12px;
				// width: 400px;
				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-around;
			}
			button {
				font-size: 16px;
				font-family: inherit;
				border-radius: 4px;
				background-color: transparent;
				border: none;
				padding: 5px 9px;
				cursor: pointer;
				font-weight: 600;
				&:active {
					opacity: 0.7;
				}
				&.postBtn {
					background-color: #0095f6;
					color: white;
				}
				&.cancelBtn {
					color: #ed4956;
					margin-bottom: 8px;
					transform: translateX(-8px);
				}
			}
		}
	}
}
@media (max-width: 736px) {
	.addPost-modal {
		width: unset !important;
		min-width: 260px !important;
		width: 90vw !important;
		flex-direction: column !important;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		overflow-y: auto;
		img {
			flex: none;
			object-fit: cover;
		}
		.modalBody {
			width: 88vw;
			textarea {
				height: 120px;
			}
			.modalTitle {
				display: none;
			}
			.modalBtns {
				margin-top: 0;
			}
		}
	}
}
