.changeImg-modal {
	.modalTitle {
		margin: 16px 32px;
		margin-top: 32px;
		text-align: center;
	}
	h3 {
		color: #262626;
		font-size: 18px;
		line-height: 24px;
		margin: -4px 0 -6px;
		font-weight: 600;
	}
	.modalBtns {
		display: flex;
		flex-direction: column;
		margin-top: 16px;
		button {
			font-family: inherit;
			font-size: 14px;
			cursor: pointer;
			background-color: transparent;
			border: none;
			border-top: 1px solid #dbdbdb;
			min-height: 48px;
			padding: 4px 8px;
			line-height: 1.5;
			&:active {
				background-color: #c7c7c7;
			}
			&:first-child {
				color: #0095f6;
				font-weight: 700;
			}
			&:nth-child(2) {
				font-weight: 700;
				color: #ed4956;
			}
		}
	}
}

.row {
	flex-direction: row;
	width: 900px;
}
