.imgModal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	z-index: 10;
	display: flex;
	align-items: center;
	.background {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		background-color: #26262684;
	}
	.modalContent {
		z-index: 11;
		width: 400px;
		margin: 2rem auto;
		display: flex;
		flex-direction: column;
		background-color: #fff;
		border-radius: 12px;
		overflow: hidden;
		.modalTitle {
			margin: 16px 32px;
			margin-top: 32px;
			text-align: center;
		}
		h3 {
			font-size: 18px;
			line-height: 24px;
			margin: -4px 0 -6px;
			font-weight: 600;
		}
		.modalBtns {
			display: flex;
			flex-direction: column;
			margin-top: 16px;
			button {
				cursor: pointer;
				background-color: transparent;
				border: none;
				border-top: 1px solid #dbdbdb;
				min-height: 48px;
				padding: 4px 8px;
				line-height: 1.5;
				&:active {
					background-color: #c7c7c7;
				}
				&:first-child {
					color: #0095f6;
					font-weight: 700;
				}
				&:nth-child(2) {
					font-weight: 700;
					color: #ed4956;
				}
			}
		}
	}
}
.row {
	flex-direction: row;
	width: 900px;
}
@media (max-width: 735px) {
	.imgModal {
		.modalContent {
			width: 260px;
		}
	}
}
