.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	z-index: 11;
	display: flex;
	align-items: center;

	.background {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		background-color: rgba(0, 0, 0, 0.65);
	}
	.modalContent {
		animation: IGCoreModalShow 0.1s ease-out;
		z-index: 12;
		width: 400px;
		margin: 2rem auto;
		display: flex;
		flex-direction: column;
		background-color: #fff;
		border-radius: 12px;
		overflow: hidden;
	}
}

@media (max-width: 736px) {
	.modal {
		.modalContent {
			width: 260px;
		}
	}
}

@keyframes IGCoreModalShow {
	0% {
		opacity: 0;
		transform: scale(1.2);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
