@import "../properties";
.postModal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	z-index: 10;
	display: flex;
	align-items: center;

	.background {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		background-color: #26262684;
	}
	.modalContent {
		z-index: 11;
		max-width: 935px;
		margin: 2rem auto;
		display: flex;
		background: transparent;
		overflow: hidden;

		.postImage-container {
			display: flex;

			position: relative;
			max-width: 400px;
			max-height: 400px;
			&.size {
				width: 400px;
				height: 400px;
			}
			background-color: transparent;

			.react-swipeable-view-container {
				height: 100%;
				div {
					width: unset;
					overflow-y: hidden !important;
				}
			}

			.postImg {
				height: 100%;
				width: 100%;
				object-fit: contain;
				&.hide {
					visibility: none;
					opacity: 0;
				}
			}
		}
		.postDesc {
			flex: 1;
			display: flex;
			flex-direction: column;
			background: #fff;
		}
		header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 1rem;
			width: 335px;
			height: 72px;
			border-bottom: 1px solid $border-color-grey;

			.profileContainer {
				min-height: 0;
			}
			.pIconContainer {
				min-width: 40px;
			}
		}
		.postDescBody {
			flex: 1;
			display: flex;
			flex-direction: column;
			font-size: 14px;
			.comments {
				flex: 1;
				padding-top: 4px;
				overflow-y: auto;
			}
		}
		.moreBtn {
			height: 30px;
			width: 30px;

			&:hover {
				cursor: pointer;
			}
		}
	}
	.post {
		width: 90vw;
		max-height: 90vh;
		margin: 0 auto;

		.postImage {
			width: 50%;
			height: 50%;
		}
	}
}

@media screen and (max-width: 735px) {
	.postModal {
		.modalContent {
			display: flex;
			flex-direction: column;
			max-width: 80%;

			.comments,
			p {
				display: none;
			}
			header {
				width: unset;
				padding: 4px 8px;
				height: 56px;
			}
			.likedBy span {
				margin-left: 4px;
				margin-bottom: 4px;
			}
			.timePosted {
				padding-bottom: 4px;
			}
		}
	}
}
