@import "../properties";

.profileMenu {
	display: flex;
	margin-top: 8px;
	margin-left: 12px;
	margin-right: -4px;

	.profBtn {
		background-color: transparent;
		color: #262626;
		border-radius: 4px;
		font-size: 14px;
		font-weight: 600;
		height: 30px;
		max-width: 100px;
		border: 1px solid $border-color-grey;
		padding: 0 9px;
		margin-left: 0.5rem;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		&.arr {
			padding: 0 11px;
		}

		.arr {
			&.up {
				transform: rotate(360deg);
			}
			&.down {
				transform: rotate(180deg);
			}
		}
	}
}
@media (max-width: 735px) {
	.profileMenu {
		margin: 0;
		margin-left: -8px;
		.profBtn {
			line-height: 14px;
			font-size: 13px;
			padding: 8px 9px;
		}
	}
	.message {
		margin-left: 0 !important;
	}
}
